%h3.space-top-2.col-md-8
  都市写真の傑作を確率的に求める

%p.space-top-2.col-md-8
  Google Street Viewから得られる画像は緯度、経度、向きの3変数によって決まる。この3変数の組み合わせをランダムに膨大に作成し画像を取得すれば、その中の0.数％は見る価値のある写真になるだろう。
%p.space-top-2.col-md-8
  author:
  = link_to 'KON Yuichi', 'https://github.com/konpyu'

